@page
@model Proyectoint.Pages.Candidato.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Candi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candi.Nombre_Completo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candi.Nombre_Completo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candi.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candi.Sexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candi.Cumple)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candi.Cumple)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candi.Est_civ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candi.Est_civ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candi.Nacionalidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candi.Nacionalidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candi.Curp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candi.Curp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candi.Referencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candi.Referencia)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Candi.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
