@page
@model Proyectoint.DetailsHisto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Historial1</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Historial1.Nombre_candidato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Historial1.Nombre_candidato)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Historial1.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Historial1.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Historial1.Empresa_pro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Historial1.Empresa_pro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Historial1.Desempeño)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Historial1.Desempeño)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Historial1.Observaciones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Historial1.Observaciones)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Historial1.id_histo">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
